.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 120px;
  padding-bottom: 2rem;
  margin-left: 1rem;
}

.item img {
  max-width: 70px;
  border-radius: 50%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100px;
  margin-right: 2rem;
}

.centered button {
  border-radius: 13px;
  min-height: 25px;
  min-width: 90px;
  color: #ffffff;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
  background-color: #4d4d4d;
  border-radius: 15px;
  padding: 0.5rem;
  min-width: 150px;
  max-width: 400px;
  min-height: 60px;
  max-height: 100px;
}

.info .name_phrase {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
  margin-right: 15px;
  max-width: 200px;
}

.name_phrase .phrase {
  font-style: italic;
}

.info .country_city {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
  margin-left: 15px;
  max-width: 200px;
}

.follow {
  background-color: #19cca0;
  border: none;
}

.follow:hover {
  background-color: #33e6b9;
  transition: 400ms;
}

.follow:disabled,
.follow:disabled:hover {
  background-color: #d2f9ef;
  transition: 400ms;
  cursor: not-allowed;
}

.unfollow {
  border: none;
  background-color: #d87093;
}

.unfollow:hover {
  background-color: #c83767;
  transition: 400ms;
}

.unfollow:disabled,
.unfollow:disabled:hover {
  background-color: #f4d7e1;
  transition: 400ms;
  cursor: not-allowed;
}
