.header {
  grid-area: h;
  background-color: #313131;
}

.header img {
  margin-left: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 40px;
}

.login_block {
  float: right;
  margin-top: 1rem;
  margin-right: 2rem;
}

.login_block a {
  color: #fff;
  text-decoration: none;
}

.login_block span {
  color: #fff;
}

.login_block button {
  color: #fff;
  font-size: 16px;
  height: 30px;
  width: 90px;
  border-radius: 1rem;
  margin-left: 1rem;
  border: none;
  background: #666666;
  transition: 0.3s;
}

.login_block button:hover {
  cursor: pointer;
  background: #595959;
}
